@tailwind base;
@tailwind components;
@tailwind utilities;


p, button{
  @apply text-sm
}
.bg-banner{
  background: url("/public/banner-mask.png"), linear-gradient(#0054C2, #0054C2);
}

.overlay{
  background-color: #0054c2cf;
  height: 400px;
  position: absolute;
  width: 100%;
  @apply top-0 left-0
}

.overlay2{
  background-color: rgba(0, 84, 194, 0.85);
  height: 400px;
  position: absolute;
  width: 100%;
  @apply top-0 left-0
}

.download > div{
  @apply rounded-xl p-3 flex gap-2 text-start items-center
}

.form-container > div{
  @apply flex flex-col gap-2
}

.form-container > div > p > sup{
  @apply text-red-500 font-bold
}

.form-container > div > input, textarea{
  @apply border p-2 border-gray-300 rounded-lg w-full
}